* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todoApp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #1e1e2e;
}
.todoApp-container {
  width: 500px;
  height: 300px;
  box-shadow:
    0 10px 25px -5px rgba(79, 114, 202, 0.2),
    0 0 0 1px rgba(79, 114, 202, 0.1);
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 30px;
}
.add-todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 300px;
}
.add-btn {
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.514);
  font-weight: bold;
  padding: 5px;
}
.todo-elem {
  display: flex;
  width: 100%;
  border: #1e1e2e solid 1px;
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
}
.todo-elem {
  display: flex;
  justify-content: space-between;
}
.todo-value {
  display: flex;
  gap: 7px;
  font-weight: bold;
  align-items: center;
}
.button-group {
  display: flex;
  gap: 12px;
}
.active-btn {
  padding: 5px;
  cursor: pointer;
}
